.card {
	border-radius: 0.5em;
	border: 1px solid gray;
	min-width: 600px;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: 1em;

	& > .imageDiv {
		width: 80%;
		border-top-left-radius: 0.5em;
		border-bottom-left-radius: 0.5em;
		background-size: cover;
		background-position: center;
	}

	.skeletonImg {
		min-width: 45%;
		min-height: 300px;
		border-top-left-radius: 0.5em;
		border-bottom-left-radius: 0.5em;
	}

	.skeletonContent {
		display: flex;
		flex-direction: column;
		flex-grow: 1;
		justify-content: space-between;
		padding: 1em;

		.inlineSkeleton {
			display: flex;
			justify-content: space-between;
		}
	}

	.cardContent {
		width: 100%;
		padding: 1em;
		padding-top: 0.5em;

		.categoryDate {
			font-weight: 600;
			font-size: 0.9em;
			color: gray;
			margin: 1em 0;
		}

		h2 {
			margin: 0.7em 0;
			font-size: 1.2em;
		}

		.avatars {
			display: flex;
			align-items: center;
			margin-top: 1.5em;
			margin-bottom: 1em;

			.shiftLeft {
				margin-left: -0.7em;
			}

			span {
				margin-left: 0.5em;
			}
		}

		.stats {
			display: flex;
			justify-content: space-between;

			span {
				display: flex;
				align-items: center;

				span {
					margin-left: 0.3em;
				}
			}
		}
	}
}

.visibilityHidden {
	visibility: hidden;
}

@media screen and (min-width: 1060px) {
	.card {
		width: 32%;
		min-width: 300px;
		max-width: 500px;
		display: inline-flex;
		flex-direction: column;
		justify-content: space-between;
		height: 580px;

		& > .imageDiv {
			width: 100%;
			height: 200px;
			border-top-right-radius: 0.5em;
			border-bottom-left-radius: 0;
		}
		.skeletonImg {
			height: 200px;
			width: 100%;
			min-height: unset;
			border-top-right-radius: 0.5em;
			border-bottom-left-radius: 0;
		}

		.skeletonContent {
			display: flex;
			flex-direction: column;
			padding: 1em;

			.inlineSkeleton {
				display: flex;
				justify-content: space-between;
			}
		}
	}
}

@media screen and (min-width: 1233px) {
	.card {
		height: 550px;
	}
}

@media screen and (min-width: 1352px) {
	.card {
		& > .imageDiv {
			height: 230px;
		}

		.skeletonImg {
			height: 230px;
		}
	}
}
