.card {
	border-radius: 0.5em;
	border: 1px solid gray;
	min-width: 600px;
	width: 100%;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: horizontal;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	margin-bottom: 1em;
}

.card > .imageDiv {
	width: 80%;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	background-size: cover;
	background-position: center;
}

.card .skeletonImg {
	min-width: 45%;
	min-height: 300px;
	border-top-left-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
}

.card .skeletonContent {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: 1em;
}

.card .skeletonContent .inlineSkeleton {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.card .cardContent {
	width: 100%;
	padding: 1em;
	padding-top: 0.5em;
}

.card .cardContent .categoryDate {
	font-weight: 600;
	font-size: 0.9em;
	color: gray;
	margin: 1em 0;
}

.card .cardContent h2 {
	margin: 0.7em 0;
	font-size: 1.2em;
}

.card .cardContent .avatars {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin-top: 1.5em;
	margin-bottom: 1em;
}

.card .cardContent .avatars .shiftLeft {
	margin-left: -0.7em;
}

.card .cardContent .avatars span {
	margin-left: 0.5em;
}

.card .cardContent .stats {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
}

.card .cardContent .stats span {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}

.card .cardContent .stats span span {
	margin-left: 0.3em;
}

.visibilityHidden {
	visibility: hidden;
}

@media screen and (min-width: 1060px) {
	.card {
		width: 32%;
		min-width: 300px;
		max-width: 500px;
		display: -webkit-inline-box;
		display: -ms-inline-flexbox;
		display: inline-flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
		height: 580px;
	}
	.card > .imageDiv {
		width: 100%;
		height: 200px;
		border-top-right-radius: 0.5em;
		border-bottom-left-radius: 0;
	}
	.card .skeletonImg {
		height: 200px;
		width: 100%;
		min-height: unset;
		border-top-right-radius: 0.5em;
		border-bottom-left-radius: 0;
	}
	.card .skeletonContent {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-ms-flex-direction: column;
		flex-direction: column;
		padding: 1em;
	}
	.card .skeletonContent .inlineSkeleton {
		display: -webkit-box;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: justify;
		-ms-flex-pack: justify;
		justify-content: space-between;
	}
}

@media screen and (min-width: 1233px) {
	.card {
		height: 550px;
	}
}

@media screen and (min-width: 1352px) {
	.card > .imageDiv {
		height: 230px;
	}
	.card .skeletonImg {
		height: 230px;
	}
}
/*# sourceMappingURL=card.css.map */
